/*
	VARIABLE FONT STUFF
*/

@font-face {
  font-family: "Satoshi";
  src: url("fonts/CrimsonPro.ttf") format("truetype");
}

@font-face {
  font-family: "Volkron";
  src: url("fonts/volkron.ttf") format("truetype");
}

@font-face {
  font-family: "VolkronItalic";
  src: url("fonts/volkronItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Notoicon";
  src: url("fonts/Notoicon.ttf") format("truetype");
}


@font-face {
  font-family: "crimsonItalic";
  src: url("fonts/CrimsonItalic.ttf") format("truetype");
}

.monospace {
  font-family: "crimsonItalic";
  font-size: 16px;
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#introText {
  font-weight: 300;
}

.building {
  border: 1px dashed #0098a2;
}

.thisauthor {
  font-weight: 600;
  color: rgba(0, 45, 19, 0.8);
}

.monospace:hover {
  font-family: "crimsonItalic";
  font-weight: 600;
  color: rgba(85, 0, 61, 0.8);
}

.strange {
  font-size: 32px;
  font-family: "Volkron", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1;
  font-feature-settings: 'smcp';
}

.publication {
  padding-bottom: 15px;
}

.experience {
  padding-bottom: 15px;
}

.p {
  font-family: "Satoshi", sans-serif;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.5;
}

.strange-light {
  font-size: 25px;
  font-family: "Volkron", sans-serif;
  font-weight: 300;
  line-height: 1;
  font-feature-settings: 'smcp';
}

.sans {
  font-family: "Satoshi", sans-serif;
  font-weight: 600;
}

.sans-light {
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
}

.stretchable .var {
  font-variation-settings: "wdth" 0;
  transition: font-variation-settings 1s ease;
}

.stretched .var {
  font-variation-settings: "wdth" 880;
  transition: font-variation-settings 1s ease;
}

/*@supports (font-variation-settings: normal) {
  DO SOMETHING
}*/

html,
body {
  background-color: #fff3f8;
  margin: 0;
  padding: 0;
}

span {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

strong {
  font-weight: 500 !important;
}

/* HOMEPAGE */

.row {
  min-width: 100vw;
  display: flex;
}

.pad10 {
  padding-bottom: 10px;
}

.pad5 {
  padding-bottom: 5px;
}


.pad20 {
  padding-bottom: 20px;
}

.pad40 {
  padding-bottom: 40px;
}

.pad60 {
  padding-bottom: 40px;
}

.content {
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}

.text {
  font-family: "Satoshi", sans-serif;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.5;
  min-width: 500px;
  max-width: 500px;
}

.img {
  min-width: 500px;
  max-width: 800px;
}

.video {
  width: 100%;
  min-width: 500px;
  max-width: 800px;
}

.videoContainer {
  width: 100% !important;
  height: auto;
}

.section {
  font-size: 16px;
  font-family: "Volkron", sans-serif;
  font-weight: 300;
  line-height: 1;
  font-feature-settings: 'smcp';
}

/* .section:hover {
  background-image: linear-gradient(to right,
      rgba(39, 216, 113, 0.8) 0%,
      rgba(39, 216, 113, 0.8) 100%);
  background-position: 0px 1em;
  background-repeat: repeat-x;}  */

.title {
  font-size: 32px;
  margin-top: 100px;
}

.navbar {
  color: gray;
}

.nav {
  font-size: 14px;
  line-height: 1.5;
  margin: 0px;
}

a>.nav:hover {
  background-image: linear-gradient(to right,
      rgba(39, 216, 113, 0.8) 0%,
      rgba(39, 216, 113, 0.8) 100%);
  background-position: 0px 13px;
  background-repeat: repeat-x;
  /*background-size: 6px 5px;*/
  color: black;
}

a>.nav-aui:hover {
  background-image: linear-gradient(to right, #48ffa4 0%, #48ffa4 100%);
  background-position: 0px 13px;
  background-repeat: repeat-x;
  /*background-size: 6px 5px;*/
  color: black;
}

.subtitle {
  font-size: 24px;
  margin-top: 20px;
}

hr {
  border: 1px solid #48ffa4;
}

/*#firstRow {
	margin-top: 100px;
}
*/

.has-dropicon:first-letter {
  font-family: "Notoicon", Arial, Helvetica, sans-serif;
  float: left;
  font-size: 2.5rem;
  line-height: 0.8;
  margin: 0.1em 0.1em 0.2em 0;
}

.has-dropcap:first-letter {
  font-family: "Volkron", Arial, Helvetica, sans-serif;
  color: rgba(85, 0, 61, 0.8);
  float: left;
  font-weight: 100;
  font-size: 4.2rem;
  line-height: 0.65;
  margin: 0.25em 0.1em 0 0;
}


/* style for stong tag */

strong {
  font-weight: 500 !important;
  /* font-weight: 200; */
}

.grid {
  margin-top: 4px;
  min-width: 1000px;
  max-width: 1000px;
}

#attr {
  font-size: 13px;
  text-align: center;
  margin-bottom: 20px;
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: yellow;
}

.bracketLink>a {
  font-family: "IBM Plex Mono", monospace;
  font-size: 12px;
  font-style: italic;
  font-weight: 1000;
  color: hsl(149, 91%, 22%);
  margin: 0;
  padding: 0;
  transition: padding ease 0.5s;
}

.bracketLink>a:hover {
  font-style: italic;
  font-weight: 1000;
  padding: 0 5px;
}

.bracketLink::before {
  content: "[";
  color: black;
  font-weight: 400;
  font-size: 12px;
  font-family: "IBM Plex Mono";
}

.bracketLink::after {
  content: "]";
  color: black;
  font-weight: 400;
  font-size: 12px;
  font-family: "IBM Plex Mono";
}

.bodyLink {
  background-image: linear-gradient(to right,
      rgba(128, 128, 128, 0.3) 80%,
      rgba(128, 128, 128, 0.3) 100%);
  background-position: 0 0.9em;
  background-repeat: repeat-x;
  /*background-size: 4px 5px;*/
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bodyLink:hover {
  font-weight: 700;
  color: rgba(85, 0, 61, 0.8);
  background-image: linear-gradient(to right,
      rgba(85, 0, 61, 0.8) 80%,
      rgba(85, 0, 61, 0.8) 100%);
  background-position: 0 0.97em;
  background-repeat: repeat-x;
  background-size: 4px 5px;
}

.pubLink {
  font-weight: 500;
  background-image: linear-gradient(to right,
      rgba(128, 128, 128, 0.3) 80%,
      rgba(128, 128, 128, 0.3) 100%);
  background-position: 0 0.9em;
  background-repeat: repeat-x;
  /*background-size: 4px 5px;*/
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.pubLink:hover {
  font-weight: 600;
  color: rgba(85, 0, 61, 0.8);
  background-image: linear-gradient(to right,
      rgba(85, 0, 61, 0.8) 80%,
      rgba(85, 0, 61, 0.8) 100%);
  background-position: 0 0.97em;
  background-repeat: repeat-x;
  background-size: 4px 5px;
}

.auiLink {
  background-image: linear-gradient(to right,
      rgba(128, 128, 128, 0.3) 50%,
      rgba(128, 128, 128, 0.3) 100%);
  background-position: 0 0.9em;
  background-repeat: repeat-x;
  /*background-size: 4px 5px;*/
}

.auiLink:hover {
  background-image: linear-gradient(to right, #48ffa4 0%, #48ffa4 100%);
  background-position: 0 0.9em;
  background-repeat: repeat-x;
  /*background-size: 4px 5px;*/
}

/*.bodyLinkDotted {
	background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
	background-position: bottom;
	background-size: 4px 1px;
	background-repeat: repeat-x;
}*/

em {
  font-family: "crimsonItalic", serif;
}

.gridItem {
  display: flex;
  align-items: center;
  /* Aligns items vertically in the center */
  justify-content: start;
  margin-bottom: 10px;
  /* Aligns items to the start of the container */
  /* border dashed */
  border: 1px solid rgba(128, 128, 128, 0.3);
  /*  border-color: rgba(85, 0, 61, 0.8) 50%; */

  /* dashes are 5px and spaces are 5px */
  /* border-image: repeating-linear-gradient(0deg,
      black,
      black 5px,
      transparent 5px,
      transparent 10px) 0 2 0 2,
    repeating-linear-gradient(90deg,
      black,
      black 5px,
      transparent 5px,
      transparent 10px) 2 0 2 0; */

  /*  */
  /* border-image: repeating-linear-gradient(45deg, black, black 5px, transparent 5px, transparent 10px) 0 0 0 2; */

  filter: grayscale(100%);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.gridItem:hover {
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
  border: 2px solid rgba(85, 0, 61, 0.8);
  /* border-color: rgba(85, 0, 61, 0.8) 50%; */
  /* dashes are 5px and spaces are 5px */
  /* border-image: repeating-linear-gradient(0deg,
      black,
      black 10px,
      transparent 10px,
      transparent 20px) 0 2 0 2,
    repeating-linear-gradient(90deg,
      black,
      black 10px,
      transparent 10px,
      transparent 20px) 2 0 2 0; */
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.02);
}

.gridLabel {
  padding: 10px;
  /*margin-bottom: 10px;*/
}

.gridTitle {
  font-size: 15px;
  font-family: "Volkron", sans-serif;
  font-weight: 100;
  line-height: 1.3;
  font-feature-settings: 'smcp';
}

.gridImage {
  width: 17%;
  /* Adjust as needed */
  height: 100%;
  /* Maintain aspect ratio */
}

.gridSubtitle {
  font-size: 15px;
  font-family: "Satoshi", sans-serif;
  color: rgba(85, 0, 61, 1);
}

.tileBackground {
  opacity: 0.75;
  transition: opacity 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.projectImage {
  max-width: 100%;
  border: 1px solid rgba(85, 0, 61, 1);
}

.projectHeaderImage {
  margin-bottom: 20px;
}

.tileBackground:hover {
  opacity: 1;
  filter: grayscale(0%);
}

ul,
ol {
  padding-inline-start: 20px;
  margin-block-start: 5px;
}

blockquote {
  padding-left: 10px;
  margin-left: 0;
  border-left: 4px solid rgba(128, 128, 128, 0.3);
}

.footer {
  position: absolute;
  bottom: 0;
}

.downloadBox {
  background-color: rgba(128, 128, 128, 0.3);
  padding: 10px;
  color: black;
  font-family: "Bandeins Sans Variable", sans-serif;
  font-variation-settings: "wght" 400;
  margin-right: 10px;
}

.downloadBox:hover {
  background-color: yellow;
}

.caption {
  font-family: "Bandeins Sans Variable", sans-serif;
  font-size: 14px;
  text-align: center;
  padding-top: 5px;
}

.caption-big {
  font-family: "Bandeins Sans Variable", sans-serif;
  font-size: 16px;
  text-align: center;
  padding-top: 5px;
}

.caption-small {
  font-family: "Bandeins Sans Variable", sans-serif;
  font-size: 12px;
  padding-top: 5px;
}

.project {
  width: 500px;
  display: flex;
}

.project>.indicator {
  width: 200px;
  height: 200px;
  filter: grayscale(100%);
  margin-right: 20px;
}

.project>.indicator:hover {
  filter: grayscale(0%);
}

.projectText {
  font-family: "Bandeins Sans Variable", sans-serif;
  font-weight: 1;
  font-size: 15px;
  line-height: 1.5;
}